body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}

div{
    background-color: white;
    padding: 2%;
    margin-right: 1%;
}

h1,h2{
    font-size: 4mm;
}

p,h3{
    background-color: rgb(3, 6, 12);
    color: rgb(136, 136, 45);
    margin-right: 8cm;
    border-radius: 0.3cm;
    padding: 15px;
}


h5,li{
    font-size: 3mm;
    padding-left:5%; 
}